h1 {
	color: #fff;
	font-size: 48px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	padding-bottom: 10px;
}

h1 .convert {
	color: rgb(211, 125, 125);
	font-size: 48px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

label {
	color: #fff;
}

.container {
	align-items: center;
	background: linear-gradient(45deg, #160d5e, #4a148c);
	border: 2px solid #160d5e;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	height: 600px;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px;
	width: 100%;
}

.voice {
	background-color: #3e1282;
	border: 1px solid #4a148c;
	border-radius: 5px;
	padding: 20px 100px;
}

#floatingTextarea {
	background-color: #5d289e;
	border: 1px solid #5d289e;
	color: #fff;
	font-size: 15px;
	margin-bottom: 10px;
	width: 600px;
}

.btn {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: #dd9d9d;
	padding: 10px 30px;
	width: 150px;
}

.btn:hover {
	background-color: rgb(211, 125, 125);
	color: #fff;
}

.row {
	align-items: center;
	display: flex;
	gap: 10px;
	width: 600px;
}

#voice-type {
	background-color: #5d289e;
	border-radius: 20px;
	height: 50px;
	width: 300px;
}

#voice-type:hover {
	background-color: #fff;
	cursor: pointer;
}

@media (max-width: 768px) {
	.container {
		padding: 10px;
		width: 100%;
		height: 100%;
		margin: 5px auto;
	}

	.voice {
		padding: 10px;
		width: 80%;
		height: auto;
	}

	#floatingTextarea {
		width: 70%;
		height: auto;
	}

	#voice-type {
		width: 60%;
		height: auto;
	}

	.btn {
		width: 60%;
		padding: 10px 20px;
	}
}

@media (max-width: 480px) {
	html,
	body {
		margin: 0 auto;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.container {
		padding: 10px;
		width: 100%;
		height: 100%;
		margin: 5px;
	}

	.voice {
		padding: 10px;
		width: 90%;
		height: auto;
	}

	#floatingTextarea {
		width: 80%;
		height: auto;
	}

	#voice-type {
		width: 50%;
		height: auto;
	}

	.btn {
		width: 50%;
		padding: 10px 20px;
	}
}
